<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylos.css') }}">
    <title>{{ titulo }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="titulo">{{ titulo }}</li>
                <li><a href="#">Acerca </a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        <p>Mysterious Company</p>
        <p> 2022 </p>
    </footer>
</body>
</html>